<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="name"> Enter name: </label>
    <input type="text" th:field="*{name}"  id="name" size="20" >
    <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> nameErr </div>
    <br/>
    <label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age" size="22">
    <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> ageErr </div>
    <br/>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{email}" id="email" size="20">
    <div style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> mailErr </div>
    <br/>
    <input type="submit" value="Add" >
</form>

</body>
</html>