<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name"></label>Enter name: </label>
  <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="age"></label>Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
  <br/>
  <input type="submit" value="Update">
</form>

</body>
</html>